.hero {
  padding: 0px 20px;
  max-width: 1180px;
  margin: 0 auto;
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  overflow: hidden;
}

.hero__heading {
  color: var(--tertiary-color);
  font-size: 48px;
  font-weight: 600;
  margin-top: 20px;
}

.hero__content {
  color: var(--light-text);
  font-size: 20px;
  font-weight: normal;
  font-family: "Roboto", serif;
  line-height: 28.8px;
}

.hero__button {
  margin-top: 20px;
}

.hero__image {
  width: 100%;
  height: 100%;
}

.companies__text {
  color: var(--tertiary-color);
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}

.hero__companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .hero__container {
    flex-direction: column-reverse;
  }
  .hero__companies {
    gap: 30px;
  }
  .hero__text {
    text-align: center;
  }
  .hero__button {
    width: 100%;
  }
  .hero {
    padding: 16px;
  }
}

@media screen and (max-width: 640px) {
  .hero__companies {
    gap: 20px;
  }
}
